<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}

{% block title %}Об авторе проекта{% endblock %}

{% block content %}
  <div class="container py-5">
    <h2>Всем привет, меня зовут Илья!</h1>
    <br>
    <h4>
      Данную платформу для блогов я создал с целью изучения веб-фреймворка Django.
    </h4>
    <br>
    <br>
    <p>
      Буду рад обратной связи.
    </p>
    <p>
      <a href="https://wa.me/+79112817259" target="_blank"><img src=/static/img/icon_wa.png width="30" height="30" alt="Я в WhatsApp" title="Я в WhatsApp"></a>
      <a href="https://t.me/afanasev_ilia"><img src=/static/img/icon_tg.png width="30" height="30" alt="Я в Telegram" title="Я в Telegram"></a>
      <a href="https://vk.com/id490390" target="_blank"><img src=/static/img/icon_vk.png width="30" height="30" alt="Я в Вконтакте" title="Я в Вконтакте"></a>
    </p>
  </div>
{% endblock %} 
